@tailwind base;
@tailwind components;
@tailwind utilities; 

:root{
    --main-color: rgb(101,163,13);
    --main-colordark: rgb(86, 137, 12);
    --main-text:  rgb(99, 115, 129);
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-barlow{
    font-family: 'Barlow', sans-serif;
}

.label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    font-size: 13px;
    cursor: text;
    border-radius: 15px;
}

.label p {
    width: fit-content;
    height: fit-content;
}

.input {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    height: 15px;
    display: block;
    border-radius: 15px;
    outline: none;
    background-color: transparent !important;
}

.input-div {
    background-color: #f7f7f8;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    transition: background .3s;
}

@keyframes labelActive {
    from{
        height: 100%;
        font-size: 13px;
    } 
    to{
        height: 70%;
        font-size: 10px;
        color: var(--main-color);
    }
}

@keyframes labelInactive {
    from{
        height: 70%;
        font-size: 10px;
        color: var(--main-color);
    } 
    to{
        height: 100%;
        font-size: 13px;
    }
}


/* -------------------------------Nav Bar------------------------------- */
/* -------------------------------Nav Bar------------------------------- */
/* -------------------------------Nav Bar------------------------------- */

.navbar-logosize{
    width: 150px;
}
.navbar-joinusbuy{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 8px 16px;
    border-radius: 8px;
}

.navbar-searchblur{
    backdrop-filter: blur(6px);
    box-shadow: rgb(145 158 171 / 10%) -8px 8px 24px -4px;
    background-color: rgba(255, 255, 255, 0.52);
}

/* -------------------------------Register------------------------------- */
/* -------------------------------Register------------------------------- */
/* -------------------------------Register------------------------------- */

.box-register{
    display: flex;
    flex-direction: column;
    padding: 32px;
    border-radius: 16px;
    box-shadow: -24px 24px 72px -8px rgb(145 158 171 / 24%);
<<<<<<< Updated upstream
    height: fit-content;
}

.input {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    height: 15px;
    display: block;
    border-radius: 15px;
    outline: none;
    background-color: transparent !important;
}

.input-div {
    background-color: #f7f7f8;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    transition: background .3s;
}


/* -------------------------------Create user------------------------------- */
/* -------------------------------Create user------------------------------- */
/* -------------------------------Create user------------------------------- */

.fit-box{
    height: calc(100vh - 81px) !important;
    display: flex;
    align-items: center;
}

.fit-box:first-child{
  height: fit-content;
=======
>>>>>>> Stashed changes
}